@import 'bootstrap/scss/bootstrap';
@import '@fontsource/roboto';
@import '@fontsource/roboto/700.css';

body {
  font-family: 'Roboto', sans-serif;
}

// salvo la mia palette di colori che serviranno nel progetto

.bg-yellow{
  background-color: #fec96b;

}

.bg-dark{
  background-color: #262e44;
}

.bg-white{
  background-color: white;
}

.bg-grey{
  background-color: #5c6668;
}

.bg-pink{
  background-color: #ed6967;
}

.bg-light-blu{
  background-color: #408292;
}

.bg-dark-white{
  background-color: #f9f9f9;
}

.bg-light-grey{
  background-color: #e5e5e5;
}