@import 'bootstrap/scss/bootstrap';
@import '@fontsource/roboto';
@import '@fontsource/roboto/700.css';

body {
  font-family: 'Roboto', sans-serif;
}

// salvo la mia palette di colori che serviranno nel progetto

.bg-yellow{
  background-color: #fec96b;
  color: white;
}

.bg-dark{
  background-color: #262e44;
}

.bg-white{
  background-color: white;
}

.bg-grey{
  background-color: #5c6668;
}

.bg-pink{
  background-color: #ed6967;
}

.bg-light-blu{
  background-color: #408292;
}

.bg-dark-white{
  background-color: #f9f9f9;
}

.bg-light-grey{
  background-color: #e5e5e5;
}

// utility
.white-text{
  color: white;
}
.grey-text{
  color:  #e5e5e5;
}
.dark-grey-text{
  color: #5c6668;
}
.yellow-text{
  color: #fec96b;
}
.button{
  margin: 10px 100px;
  width: 180px;
}

.dark-text{
  color:  #262e44;
}
// stili per i bottoni
.button{
  padding: 10px 30px;
  }
  .white-border{
    border: 1px solid white;
    color: white;
  }
  .yellow-border{
    border: 1px solid  #fec96b;
    color: #fec96b;
  }
  // stile per la linea gialla 
.yellow-line{
  border: 2px solid #fec96b;
  width: 200px;
}

// debug per la costruzione del mark-up
.debug{
  border: 1px solid red;
  background-color: rgba(0, 255, 255, 0.22);
}